<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Phi: telemetry</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="" rel="stylesheet">
    <script src="http://cdn.ractivejs.org/edge/ractive.js"></script>
    <script src="data.js"></script>
    <script src="svg.js"></script>
</head>

<main>
</main>

<script id="root" type="text/ractive">
    <svg viewBox="0 0 640 640">
        <g transform="translate(200,50)">
            {{#track.pieces:i}}
                {{^angle}}
                <path d="
                    M{{draw.x0}} {{draw.y0}}
                    L{{draw.x1}} {{draw.y1}}"
                    stroke="black"
                    stroke-width="10"
                    fill="transparent"/>
                {{/angle}}
                {{#angle}}
                <path d="
                    M{{draw.sx}} {{draw.sy}}
                    A{{radius}} {{radius}} 0 0 {{draw.side}} {{draw.ex}} {{draw.ey}}"
                    stroke="black"
                    stroke-width="10"
                    fill="transparent"/>
                {{/angle}}
            {{/track.pieces}}
        </g>
</svg>
</script>


<script>
    var TAU = Math.PI*2;
    var cos = Math.cos,
        sin = Math.sin;
    function radians(v){
        return v * TAU / 360;
    };


    var addDrawingData = function(pieces){
        var global = [],
            gx = 0, gy = 0, grot = 0;

        for(var i = 0; i < pieces.length; i += 1){
            var p = pieces[i],
                n = {};

            n.switch = p.switch;
            if(p.radius > 0){
                n.radius = p.radius;

                var rot = radians(p.angle);
                n.angle = rot;
                if(p.angle > 0){
                    var delta = TAU/4 - grot;
                    n.draw = {
                        side: 1,
                        cx: gx + p.radius * cos(grot + TAU/4),
                        cy: gy + p.radius * sin(grot + TAU/4),

                        sx: gx,
                        sy: gy,
                        ex: gx + p.radius*(cos(rot - delta) - cos(delta)),
                        ey: gy + p.radius*(sin(rot - delta) + sin(delta)),
                    };
                } else {
                    var delta = TAU/4 - grot;
                    n.draw = {
                        side: 0,
                        cx: gx + p.radius * cos(grot + TAU/4),
                        cy: gy + p.radius * sin(grot + TAU/4),

                        sx: gx,
                        sy: gy,
                        ex: gx - p.radius*(cos(rot - delta) - cos(delta)),
                        ey: gy - p.radius*(sin(rot - delta) + sin(delta)),
                    };
                }
                gx = n.draw.ex;
                gy = n.draw.ey;
                grot += rot;
            } else {
                n.length = p.length;

                n.draw = {
                    type: "straight",
                    x0: gx,
                    y0: gy,
                    x1: gx + p.length * cos(grot),
                    y1: gy + p.length * sin(grot)
                };

                gx = n.draw.x1;
                gy = n.draw.y1;
            }
            p.draw = n.draw;
        }
    }

    addDrawingData(GAMEINIT.data.race.track.pieces);

    var ractive = new Ractive({
        el: "main",
        template: "#root",
        data: {
            track: GAMEINIT.data.race.track
        }
    });
</script>
